<table >
	<% if ( quizes.length  == 0 ) { %>
		<p>No hay resultados para esa búsqueda</p>
	<% }else{ %>
		<% for( var i = 0; i < quizes.length; i++) { %>
		<tr>
			<td><a href="/quizes/<%= quizes[i].id %>"><%= quizes[i].pregunta %></a></td>
			<td><a href="/quizes/<%= quizes[i].id %>/edit"><button type="button" >Editar</button></a></td>
			<td>
				<form action="/quizes/<%= quizes[i].id %>?_method=delete" method="post">
					<button type="submit" onClick="return confirm('Borrar: <%= quizes[i].pregunta %>');" >Borrar</button>
				</form>
			</td>
		</tr>
		<% } %>
	<% } %>
</table>
<p><a href="/quizes/new"><button type="button">Crear pregunta</button></a></p>
<br>
<hr class="separador">
<div class="buscador">
	<p>Buscador de preguntas</p>
	<form action="/quizes" method="get" >
		<input type="search" name="search" placeholder="Busca la pregunta" >
		<input type="submit">
	</form>
	<br>
	<a href="/quizes">Todas las preguntas</a>
</div>