<ul>
	<li><b>Num. preguntas:</b> <span class="red"><%= num_preguntas %></span></li>
	<li><b>Num. comentarios totales:</b> <span class="red"><%= num_comentarios_totales %></span></li>
	<li><b>Num. comentarios totales aprobados:</b> <span class="red"><%= num_comentarios_aprobados %></span></li>
	<li><b>Num. medio de comentarios por pregunta:</b> <span class="red"><%= num_coment_medios %></span></li>
	<li><b>Num. preguntas con comentarios:</b> <span class="red"><%= num_con_comentarios %></span></li>
	<li><b>Num. preguntas sin comentarios:</b> <span class="red"><%= num_sin_comentarios %></span></li>
</ul>